.cloudWithText{
  /*background-color: orange;*/
  background-image: url("../images/comicsCloud.png");
  //закомментил то, что было выше из-за ошибки
  background-size: cover;
  width: 250px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 26px;
    text-align:center;
  }

}
