.GamingButtons {
  display: flex;
  justify-content: space-around;
  height: 75px;
  width: 400px;
  margin-top: 15px;
  margin-left: 150px;

  button {
    border-radius: 50px;
    height: 75px;
    width: 75px;
  }
}

#cleanButton {
  margin-top: 15px;
}