.myEgg {
  margin: 0 auto;
  background-image: url("/src/images/defaultEggneNoGlass.png"), url("/src/images/day.jpg");
  background-size: cover, 350px;
  background-repeat: no-repeat;
  background-position: 0 0, 200px 230px;
  width: 700px;
  height: 795px;

}

.textAndWeather {
  //margin-right: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //background-color: orange;
  //border: solid black 1px;
}