.cloudWithText {
  background-image: url("../../../images/comicsCloud.png");
  background-size: cover;
  width: 250px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -15px;


  p {
    font-size: 26px;
    text-align: center;
  }

}
