.popup-container {
  display: none;
  position: fixed;
  top: 90%;
  left: 90%;

  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999;

}

.popup-container.show {
  display: block;
}

.popup {
  //max-width: 300px;
  width: 300px;

  margin: 0 auto;
  display: flex;



  img {
    margin-right: 15px;
  }
}

